/* Généralités */
body {
    min-width: 360px;
    margin:0;
    padding: 0;
    border:0;
    font:inherit;
    box-sizing:border-box;
    color:#575e73;
}
html{
    font-family: "Poppins";
}

/* logo navbar */
.container-fluid .navbar-brand img{
    width: auto;
    height: 50px;
}

.navbar-light .navbar-toggler {
	color: rgba(0,0,0,.55);
}

/* Gestion sous-menu */
.dropdown-item:active{
    background-color: rgb(39, 39, 39) !important;
}

.dropdown-toggle::after{
    border:none !important;
    margin:0 !important;
}

/* bouton responsivness navbar*/ 

.navbar-hamburger{
    border:none !important;
    box-shadow: 0;
}

.navbar-hamburger:focus{
    box-shadow: none !important;
    outline: none !important;
}


/* retirer decoration ancre dans navbar */
.link-nav{
    font-size: 17px;
    color:#333232;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    text-align: center;
    position: relative;
}

/* Couleur ancres dans navbar quand hover */
.link-nav:hover{
    color: #272727 !important;

}

/* Gestion responsivness */
@media (min-width: 992px) {
    nav .container-fluid{
        position:relative;
    }

    .logo-flo{
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }


    .link-nav:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: #272727;
        transition: width 0.35s ease-in-out 0s, left 0.35s ease-in-out 0s;
        width: 0;
    }
    .link-nav:hover:after { 
        width: 100%; 
        left: 0; 

    }
    .mx-auto{  
        margin-right:none;
        margin-left: none;
    }

}



@media (max-width: 992px) {

    .link-nav{
        text-align: left;
    }
    .mx-auto{  
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

