.hero{
    margin: 3em;
}

.hero-container{
    padding-top: 3em;
}

.hero-text{
    font-weight: 500 !important;
}

.lead{
    font-size: 1.5rem !important;
}

.skill-bg{
    background-color: rgb(39, 39, 39);
    color:#fff;
    border-radius: 12px;
    
    width: 100%;
    max-width: 1100px;
    padding:2rem 2rem;

}

.presentation{
    margin: 4rem 3rem 0rem 3rem;

}


.table-school{
    border-radius: 100px;
    margin-top: 2rem;
    --bs-table-hover-bg: rgb(39, 39, 39) !important;
    --bs-table-hover-color: #fff !important;
}

tbody{
    cursor: pointer;

}

td a{
    color:inherit !important;
    text-decoration: none;
}
td a:hover{
    color:inherit !important;
}

/* media query pour régler le footer sur les screens de grande taille*/
@media (min-height: 845px) {
  
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}