.hero{
    margin: 3em;
}

.hero-container{
    padding-top: 3em;
}

.hero-text{
    font-weight: 500 !important;
}

.hero-container{
    padding-top: 3em;
}

.hero-text{
    font-weight: 500 !important;
}

.presentation{
    margin: 4rem 3rem 0rem 3rem;
    position: relative;
    z-index: -1;
}

.skill-bg{
    background-color: rgb(39, 39, 39);
    color:#fff;
    border-radius: 12px;
    margin: 0 2rem 0 2rem !important;
    width: 100%;
    max-width: 1100px;
}

.presentation-hero{
    font-weight: 500 !important;
    padding: 3rem 0 1rem 0;

}

.presentation-text{
    padding: 0 0 9rem 0;
}

.col-skills{
    padding:1.5rem 0 3rem 0
}

.col1{
    border-right:0.5px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 3rem;

}
.col2{
    border-right:0.5px solid rgba(255, 255, 255, 0.05);
    border-left:0.5px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 3rem;

}
.col3{
    border-left:0.5px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 3rem;

}

.skill-icon:hover, .grad-icon:hover{
    fill: #212529;
    transition: 0.3s ease;
}

.skill-icon{
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: fill 0.3s ease;

}

.skills-hero{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.skill-bar{
    height: 40vh;
    width: 4rem;
    background-color:#dc7c00;
    border-radius: 1000px;
}

.skill-lvl{
    background-color: #666666;
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
    position: relative;


}

.lua-lvl{
    height: 55%;
}
.cpp-lvl{
    height: 75%;
}
.web-lvl{
    height: 50%;
}

.skill-pourcentage{
    position: absolute;
    margin-bottom: 0 !important;
    bottom: 0;
    right:50%;
    transform: translateX(50%);
    font-size: 1.5rem !important;
}

@media (max-width: 451px) {
    .col3{
        border-top:0.5px solid rgba(255, 255, 255, 0.05);;
    
    }
}

@media (max-width: 362px) {
    .col2{
        border-top:0.5px solid rgba(255, 255, 255, 0.05);
    
    }
}